.lista_menu {font-size:16pt}
	.lista_menu ul{list-style-type:none; overflow:hidden; background-color:rgb(10,10,10); margin:0px;padding:0px;}
	.lista_menu li {float:left;  display:inline-block; padding:10px;text-align:center; border-style:solid;border-color:white; margin:3px; border-width:2px;}
	.lista_menu li a { color:white; text-align:center;  text-decoration:none;  }
	
	.lista_menu li:hover{background-color:rgb(150,150,150)}

	.glowny_tekst{ background-color: rgb(220,220,220); margin:auto; max-width:800px; padding:10px; }
	.glowny_tekst img {display: block; margin:0 auto;max-width:80%;}

	.przycisk {background-color:rgb(10,10,10); border-style:solid; border-color:white; margin:3px; border-width:2px; color:white; text-decoration:none; padding:10px; font-size:16pt; }
	.przycisk:hover{background-color:rgb(150,150,150)}
	

	.przyklad_centrowany{border-style:solid; border-color:black; border-width:2px; }
	.prosta_tabela table {border-collapse: collapse;}
	.prosta_tabela table, th, td { border: 1px solid black;}

	@media screen and (max-width:750px)
	{
 	.lista_menu ul li{display:block; float:none; padding:10px;} 
	.lista_menu li a{height:40px; } 
	.lista_menu ul {}
	
	}


.output_table ul{list-style-type:none; overflow:hidden;  margin:0px;padding:0px;}
.output_table li {float:left;  display:inline-block; padding:10px;text-align:center; }
.output_table td,th {padding:8px;}
.output_table table {border-collapse:collapse;}
.output_table th {background-color:rgb(20,20,20); color:white; border-color:rgb(150,150,150)}



#asker .order1 ul{display:none; }
#asker .order1_open ul{display:block; vertical-align:top;  position: absolute; padding-left:0; border-style:solid; background-color:rgb(230,230,230); width:150px; margin-left:-3px; margin:auto}

#asker .order1_open li{ padding:5px; }
#asker .order1_open li:hover{ background-color:rgb(240,240,240);}

#asker .order1_open {display:inline-block;  width:150px; vertical-align:top; border-style:solid; background-color:rgb(240,240,240); }
#asker .order1 {display:inline-block;  width:150px;vertical-align:top; border-style:solid;}



#asker .order1_open p{text-align:center}
#asker .order1 p{text-align:center}


#asker li {list-style-type:none;}

#regbutton {  background-color:white;}




