.lista_menu {font-size:16pt}
	.lista_menu ul{list-style-type:none; overflow:hidden; background-color:rgb(10,10,10); margin:0px;padding:0px;}
	.lista_menu li {float:left;  display:inline-block; padding:10px;text-align:center; border-style:solid;border-color:white; margin:3px; border-width:2px;}
	.lista_menu li a { color:white; text-align:center;  text-decoration:none;  }
	
	.lista_menu li:hover{background-color:rgb(150,150,150)}

	.glowny_tekst{ background-color: rgb(220,220,220); margin:auto; max-width:800px; padding:10px; }
	.glowny_tekst img {display: block; margin:0 auto;max-width:80%;}

	.przycisk {background-color:rgb(10,10,10); border-style:solid; border-color:white; margin:3px; border-width:2px; color:white; text-decoration:none; padding:10px; font-size:16pt; }
	.przycisk:hover{background-color:rgb(150,150,150)}
	

	.przyklad_centrowany{border-style:solid; border-color:black; border-width:2px; }
	.prosta_tabela table {border-collapse: collapse;}
	.prosta_tabela table, th, td { border: 1px solid black;}

	@media screen and (max-width:750px)
	{
 	.lista_menu ul li{display:block; float:none; padding:10px;} 
	.lista_menu li a{height:40px; } 
	.lista_menu ul {}
	
	}

.show()
{
display:none;
}



.input_box{ border-style:solid;}
.input_box li{   float:left; margin:2px;}
.input_box ul{list-style-type:none; overflow:hidden; margin:0px;padding:0px;}
.input_box table{border-collapse: collapse; disaply:block; border-style:hidden;}
.input_box table td, table th{border:1px solid black;}
.input_box p{padding:0px; margin:0px}
.input_box label{display:block}
